@import './vars.scss';
.box {
  background-color: $primary-bg-color;
  padding: 2em;
  @include bevel(2em);
} 

.is-featured {
  background-color: $primary-bg-color !important;

  header {
    a {
      color: $primary-invert!important;
    }
  }
}