$bee-dark-yellow: #F3C622;
$bee-bright-yellow: #FCD615;
$bee-orangle-bright:  #FCB43A;
$bee-orange-dark: #992409; //call to action accent
$bee-off-white: #fef6d0;

$primary: $bee-dark-yellow;
$primary-invert: $bee-orange-dark;
$body-color: #3A3637;
$black: #23212C;
$primary-bg-color: $bee-off-white;


@mixin bevel($size){
    clip-path: polygon(0 50%,#{$size} 0,calc(100% - #{$size}) 0,100% 50%,100% 50%,calc(100% - #{$size}) 100%,#{$size} 100%,0 50%)
  }